@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

.bg-hero {
  background: url(/public/assets/Enactus-Hero-Banner.png) center/cover no-repeat;
}
